$color-primary:#E60000;
$font-family:Roboto;


.container-nav-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  height: 91px;

  .logo {
    display: flex;
    align-items: center;

    img{
      height: 57px;
      width: 183px;
      margin-left: 27px;
    }


  }


  .nav-items {
    color: white;
    padding: 30px;
    justify-content: space-between;
    display: flex;
    width: 80%;

    span {
      margin: 10px;
      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #FFFFFF;

    }
  }

}