.container-weight {
  top: 240px;
  height: 320px;
  width: 835px;
  border-radius: 5px;

  .title {
    margin: 24px 0 0 32px;
    display: flex;
    justify-content: space-between;
  }

  .legend {
    display: flex;
  }

  .item {
    display: flex;
    align-items: center;

    .circle-parent {
      height: 8px;
      width: 8px;
      background: #282D30;
      border-radius: 50%;
    }

    .circle {
      @extend .circle-parent;
    }

    .circle2 {
      @extend .circle-parent;
      background: red;
    }

    span {
      margin: 0 12px;
    }
  }

  .line-parent {
    border: 1px dashed #DEDEDE;
    width: 702px;
    margin: 69px 90px 0 43px;
    display: flex;
    justify-content: space-around;
  }

  .line {
    @extend .line-parent;
  }

  .line-fixe {
    @extend .line-parent;
    border: 1px solid #DEDEDE;
  }

  ul {
    list-style: none;
    width: 85%;
    display: flex;
    justify-content: space-around;
  }
}