@import "../../Sass/variables";

.container-nav-vertical {
  background: black;
  display: flex;
  flex-direction: column;
  width: 117px;
  height: 100vh;
  position: absolute;
  .nav-items {
    @include displayCenter;
    flex-direction: column;
    color: white;
    height: 100%;

    .item {
      height: 64px;
      width: 64px;
      left: 26px;
      top: 347px;
      border-radius: 6px;
      background: $color-secondary;
      margin: 20px auto;
      @include displayCenter;
    }
  }
}