@import "../../Sass/variables";

.container-title h1{
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;

  .name{
    color: $color-primary;
  }
  p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}